google==3.0.0
google-auth-oauthlib==1.2.2
google-generativeai==0.8.5
grpcio-status==1.48.2
gtts==2.5.4
importlib-metadata==8.0.0
ipykernel==6.29.5
jaraco.collections==5.1.0
pick==2.4.0
pickleshare==0.7.5
pip-chill==1.0.3
pygame==2.6.1
python-dotenv==0.21.1
pyttsx3==2.98
questionary==2.1.0
rich-menu==0.2.0
rich-theme-manager==0.11.0
tomli==2.0.1
